<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a18c8f">  <td>15/10/29 15:26:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeClass()[pri:0, instance:com.vsii.tsc.guru.testcase.Login@45c8e616]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@586617651</td>   <td></td> </tr>
<tr bgcolor="6369c4">  <td>15/10/29 15:26:19</td>   <td>12436</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.setupBeforeClass(org.testng.ITestContext)[pri:0, instance:com.vsii.tsc.guru.testcase.Login@45c8e616]">&gt;&gt;setupBeforeClass</td> 
<td>&nbsp;</td>  <td>main@586617651</td>   <td></td> </tr>
<tr bgcolor="6369c4">  <td>15/10/29 15:26:19</td>   <td>12497</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.TC_05_06_08(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.vsii.tsc.guru.testcase.Login@45c8e616]">TC_05_06_08</td> 
  <td>main@586617651</td>   <td></td> </tr>
<tr bgcolor="6369c4">  <td>15/10/29 15:26:21</td>   <td>14553</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login.afterMethod()[pri:0, instance:com.vsii.tsc.guru.testcase.Login@45c8e616]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@586617651</td>   <td></td> </tr>
<tr bgcolor="6369c4">  <td>15/10/29 15:26:21</td>   <td>14561</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.setupBeforeClass(org.testng.ITestContext)[pri:0, instance:com.vsii.tsc.guru.testcase.Login@45c8e616]">&gt;&gt;setupBeforeClass</td> 
<td>&nbsp;</td>  <td>main@586617651</td>   <td></td> </tr>
<tr bgcolor="6369c4">  <td>15/10/29 15:26:21</td>   <td>14565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.TC_05_06_08(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.vsii.tsc.guru.testcase.Login@45c8e616]">TC_05_06_08</td> 
  <td>main@586617651</td>   <td></td> </tr>
<tr bgcolor="6369c4">  <td>15/10/29 15:26:23</td>   <td>16960</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login.afterMethod()[pri:0, instance:com.vsii.tsc.guru.testcase.Login@45c8e616]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@586617651</td>   <td></td> </tr>
<tr bgcolor="6369c4">  <td>15/10/29 15:26:23</td>   <td>16962</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.setupBeforeClass(org.testng.ITestContext)[pri:0, instance:com.vsii.tsc.guru.testcase.Login@45c8e616]">&gt;&gt;setupBeforeClass</td> 
<td>&nbsp;</td>  <td>main@586617651</td>   <td></td> </tr>
<tr bgcolor="6369c4">  <td>15/10/29 15:26:23</td>   <td>16963</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.TC_05_06_08(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.vsii.tsc.guru.testcase.Login@45c8e616]">TC_05_06_08</td> 
  <td>main@586617651</td>   <td></td> </tr>
<tr bgcolor="6369c4">  <td>15/10/29 15:26:26</td>   <td>19250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login.afterMethod()[pri:0, instance:com.vsii.tsc.guru.testcase.Login@45c8e616]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@586617651</td>   <td></td> </tr>
<tr bgcolor="6369c4">  <td>15/10/29 15:26:26</td>   <td>19259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.setupBeforeClass(org.testng.ITestContext)[pri:0, instance:com.vsii.tsc.guru.testcase.Login@45c8e616]">&gt;&gt;setupBeforeClass</td> 
<td>&nbsp;</td>  <td>main@586617651</td>   <td></td> </tr>
<tr bgcolor="6369c4">  <td>15/10/29 15:26:26</td>   <td>19261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.TC_05_06_08(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.vsii.tsc.guru.testcase.Login@45c8e616]">TC_05_06_08</td> 
  <td>main@586617651</td>   <td></td> </tr>
<tr bgcolor="6369c4">  <td>15/10/29 15:26:31</td>   <td>24455</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login.afterMethod()[pri:0, instance:com.vsii.tsc.guru.testcase.Login@45c8e616]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@586617651</td>   <td></td> </tr>
<tr bgcolor="a18c8f">  <td>15/10/29 15:26:31</td>   <td>24462</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterClass()[pri:0, instance:com.vsii.tsc.guru.testcase.Login@45c8e616]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@586617651</td>   <td></td> </tr>
</table>
