<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a17077">  <td>15/11/12 16:34:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeClass()[pri:0, instance:com.vsii.tsc.guru.testcase.Login@42d3bd8b]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@329611835</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/11/12 16:34:43</td>   <td>1445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.TC_01(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.vsii.tsc.guru.testcase.Login@42d3bd8b]">TC_01</td> 
  <td>main@329611835</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/11/12 16:34:43</td>   <td>1447</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.TC_01(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.vsii.tsc.guru.testcase.Login@42d3bd8b]">TC_01</td> 
  <td>main@329611835</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/11/12 16:34:43</td>   <td>1449</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.TC_01(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.vsii.tsc.guru.testcase.Login@42d3bd8b]">TC_01</td> 
  <td>main@329611835</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>15/11/12 16:34:43</td>   <td>1451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.TC_01(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.vsii.tsc.guru.testcase.Login@42d3bd8b]">TC_01</td> 
  <td>main@329611835</td>   <td></td> </tr>
<tr bgcolor="c6a292">  <td>15/11/12 16:34:43</td>   <td>1503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewCustomer.Login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.vsii.tsc.guru.testcase.NewCustomer@dfd3711]">Login</td> 
  <td>main@329611835</td>   <td></td> </tr>
<tr bgcolor="c6a292">  <td>15/11/12 16:34:43</td>   <td>1547</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewCustomer.TC_02(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.vsii.tsc.guru.testcase.NewCustomer@dfd3711]">TC_02</td> 
  <td>main@329611835</td>   <td></td> </tr>
<tr bgcolor="a0d5f0">  <td>15/11/12 16:34:43</td>   <td>1774</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditCustomer.verify_Login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.vsii.tsc.guru.testcase.EditCustomer@6cd8737]">verify_Login</td> 
  <td>main@329611835</td>   <td></td> </tr>
<tr bgcolor="a0d5f0">  <td>15/11/12 16:34:43</td>   <td>1838</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditCustomer.TC_03(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.vsii.tsc.guru.testcase.EditCustomer@6cd8737]">TC_03</td> 
  <td>main@329611835</td>   <td></td> </tr>
</table>
